<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:datNatification.properties"/>
    <context:component-scan base-package="org.example.springcourse"/>
    <bean id="testBean"
          class="org.example.springcourse.TestBean">
        <constructor-arg value="Selistral"/>
    </bean>
    <bean id="UserAdmin"
          class="org.example.springcourse.UserAdmin"
          init-method = "doMyInit"
            destroy-method = "doMyDestroy"
            factory-method = "getUserAdmin">
    </bean>
    <bean id="UserNormal"
          class="org.example.springcourse.UserNormal">
    </bean>

    <bean id="Translate"
         class="org.example.springcourse.Translate">
         <constructor-arg value="${Translate.text.INT}"/>
    </bean>


</beans>
